:root {
	--first-color: #639232;
	--first-color-gradiente: linear-gradient(
		180deg,
		#679734 0%,
		#639232 40.1%,
		#5c8f32 100%
	);
	--first-alpha-color: #06210ab4;
	--second-color: #394836;
	--second-color-rbg: 245, 250, 244;
	--second-alpha-color: rgba(245, 250, 244, 0.588);
	--thrid-color: #454955;
	--thrid-alpha-color: rgba(45, 159, 250, 0.75);
	--white-color: #fff;
	--white-alpha-color: rgba(255, 255, 255, 0.5);
	--gray-light-color: #f3f3f3;
	--gray-color: #cccccc;
	--gray-dark-color: #666666;
	--black-color: #000000;

	--link-color: #2d9ffa;
	--title-color: #fa5c2d;
	--text-color: #06210a;
	--boton-color: #263238;

	--youtube-color: #f71917;
	--facebook-color: #35519d;
	--linkedin-color: #2570b6;
	--git-color: #14181b;
	--figma-color: #14181bce;
	--twitter-color: #19a6f4;
	--whatsapp-color: #40bd50;
	--instagram-color-imagen: radial-gradient(
			circle farthest-corner at 32% 106%,
			rgb(255, 225, 125) 0%,
			rgb(255, 205, 105) 10%,
			rgb(250, 145, 55) 28%,
			rgb(235, 65, 65) 42%,
			transparent 82%
		),
		linear-gradient(135deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
	---box-shadow1: 0px 4px 4px rgba(0, 0, 0, 0.25),
		4px 4px 16px rgba(0, 0, 0, 0.25);

	--max-width: 1401px;
}

@font-face {
	font-family: 'FiraSans';
	src: url('../fonts/f/FiraSans-ExtraLight.eot');
	src: local('☺'), url('../fonts/f/FiraSans-ExtraLight.woff') format('woff'),
		url('../fonts/f/FiraSans-ExtraLight.ttf') format('truetype'),
		url('../fonts/f/FiraSans-ExtraLight.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

html,
body {
	overflow-x: hidden;

	max-width: 1500px;
	margin: auto;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	scroll-behavior: smooth;
	font-size: 16px;
}

*,
*::after,
*::before {
	// font-size: 16px;si active dara error a la etiqueta i
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.merryH1,
.merryH2,
.merryH3,
.merryH4,
.merryH5,
.merryH6,
.merryBody1,
.merrySubtitle2,
.merryBUTTON,
.merryBody2,
.merryOverline {
	font-family: 'Merriweather', serif;
	font-style: normal;
	font-weight: normal;
	color: #263238;
}
.merryH1 {
	font-size: 96px;
	line-height: 121px;
	letter-spacing: -1.5px;
}
.merryH2 {
	font-size: 60px;
	line-height: 75px;
}
.merryH3 {
	font-size: 48px;
	line-height: 60px;
}
.merryH4 {
	font-size: 34px;
	line-height: 43px;
	letter-spacing: 0.25px;
}
.merryH5 {
	font-size: 24px;
	line-height: 30px;
}
.merryH6 {
	font-size: 20px;
	line-height: 28px;
	/* or 140% */

	letter-spacing: 0.15px;
}
.merryBody1 {
	font-size: 16px;
	line-height: 24px;
	/* identical to box height, or 150% */

	letter-spacing: 0.01em;
}
.merrySubtitle2 {
	font-size: 14px;
	line-height: 24px;
	/* identical to box height, or 171% */

	letter-spacing: 0.1px;
}
.merryBUTTON {
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.75px;
	text-transform: uppercase;
}
.merryBody2 {
	font-size: 14px;
	line-height: 20px;
	/* identical to box height, or 143% */

	letter-spacing: 0.005em;
}
.merryOverline {
	font-size: 8.46px;
	line-height: 14px;
	/* identical to box height, or 160% */

	letter-spacing: 1.269px;
	text-transform: uppercase;
}
.firaH1,
.firaH2,
.firaH3,
.firaH4,
.firaH5,
.firaH6,
.firaBody1,
.firaSubtitle2,
.firaBUTTON,
.firaBody2,
.firaOverline {
	font-family: Fira Sans;
	font-style: normal;
}
.firaH1 {
	font-weight: 600;
	font-size: 96px;
	line-height: 115px;
	letter-spacing: -1.5px;
}
.firaH2 {
	font-weight: 600;
	font-size: 60px;
	line-height: 72px;
}
.firaH3 {
	font-weight: 600;
	font-size: 48px;
	line-height: 58px;
}
.firaH4 {
	font-weight: 600;
	font-size: 34px;
	line-height: 41px;
	letter-spacing: 0.25px;
}
.firaH5 {
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
}
.firaH6 {
	font-weight: 600;
	font-size: 20px;
	line-height: 28px;
	/* or 140% */

	letter-spacing: 0.15px;
}
.firaBody1 {
	font-size: 16px;
	line-height: 24px;
	/* identical to box height, or 150% */

	letter-spacing: 0.01em;
}
.firaSubtitle2 {
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	/* identical to box height, or 171% */

	letter-spacing: 0.1px;
}
.firaBUTTON {
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	/* identical to box height */

	letter-spacing: 0.75px;
	text-transform: uppercase;
}
.firaBody2 {
	font-size: 14px;
	line-height: 20px;
	/* identical to box height, or 143% */

	letter-spacing: 0.005em;
}
.firaOverline {
	font-weight: 500;
	font-size: 8.46px;
	line-height: 14px;
	/* identical to box height, or 160% */

	letter-spacing: 1.269px;
	text-transform: uppercase;
}

img {
	max-width: 100%;
	height: auto;
}

.plr {
	padding: 0 1rem;
}
.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.d-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.flex-column {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.flex-row {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}
.justify-content-center {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.justify-content-between {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.align-items-center {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.gap-1 {
	gap: 1rem;
}
.gap-2 {
	gap: 2rem;
}
.gap-3 {
	gap: 3rem;
}
.gap-4 {
	gap: 4rem;
}
.gap-5 {
	gap: 5rem;
}

.pr-0 {
	padding-right: 0rem;
}
.pr-1 {
	padding-right: 1rem;
}
.pr-2 {
	padding-right: 2rem;
}
.pr-3 {
	padding-right: 3rem;
}
.pr-4 {
	padding-right: 4rem;
}
.pr-5 {
	padding-right: 5rem;
}

.pl-0 {
	padding-left: 0rem;
}
.pl-1 {
	padding-left: 1rem;
}
.pl-2 {
	padding-left: 2rem;
}
.pl-3 {
	padding-left: 3rem;
}
.pl-4 {
	padding-left: 4rem;
}
.pl-5 {
	padding-left: 5rem;
}
.pt-0 {
	padding-top: 0rem;
}
.pt-1 {
	padding-top: 1rem;
}
.pt-2 {
	padding-top: 2rem;
}
.pt-3 {
	padding-top: 3rem;
}
.pt-4 {
	padding-top: 4rem;
}
.pt-5 {
	padding-top: 5rem;
}
.pb-0 {
	padding-bottom: 0rem;
}
.pb-1 {
	padding-bottom: 1rem;
}
.pb-2 {
	padding-bottom: 2rem;
}
.pb-3 {
	padding-bottom: 3rem;
}
.pb-4 {
	padding-bottom: 4rem;
}
.pb-5 {
	padding-bottom: 5rem;
}
.p-0 {
	padding: 0rem;
}
.p-1 {
	padding: 1rem;
}
.p-2 {
	padding: 2rem;
}
.p-3 {
	padding: 3rem;
}
.p-4 {
	padding: 4rem;
}
.p-5 {
	padding: 5rem;
}

.mt-0 {
	margin-top: 0rem;
}
.mt-1 {
	margin-top: 1rem;
}
.mt-2 {
	margin-top: 2rem;
}
.mt-3 {
	margin-top: 3rem;
}
.mt-4 {
	margin-top: 4rem;
}
.mt-5 {
	margin-top: 5rem;
}
.row > [class^='col'] {
	// border: thin solid gray;
	// // padding: 1rem;
}
.col-1 {
	width: 8.333333333333333%;
}

.col-2 {
	width: 16.66666666666667%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.33333333333333%;
}

.col-5 {
	width: 41.66666666666667%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.33333333333333%;
}

.col-8 {
	width: 66.66666666666667%;
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: 83.33333333333333%;
}

.col-11 {
	width: 91.66666666666667%;
}

.col-12 {
	width: 100%;
}

@media screen and (min-width: 30em) {
	.col-sm-1 {
		width: 8.333333333333333%;
	}

	.col-sm-2 {
		width: 16.66666666666667%;
	}

	.col-sm-3 {
		width: 25%;
	}

	.col-sm-4 {
		width: 33.33333333333333%;
	}

	.col-sm-5 {
		width: 41.66666666666667%;
	}

	.col-sm-6 {
		width: 50%;
	}

	.col-sm-7 {
		width: 58.33333333333333%;
	}

	.col-sm-8 {
		width: 66.66666666666667%;
	}

	.col-sm-9 {
		width: 75%;
	}

	.col-sm-10 {
		width: 83.33333333333333%;
	}

	.col-sm-11 {
		width: 91.66666666666667%;
	}

	.col-sm-12 {
		width: 100%;
	}
}

@media screen and (min-width: 48em) {
	.col-md-1 {
		width: 8.333333333333333%;
	}

	.col-md-2 {
		width: 16.66666666666667%;
	}

	.col-md-3 {
		width: 25%;
	}

	.col-md-4 {
		width: 33.33333333333333%;
	}

	.col-md-5 {
		width: 41.66666666666667%;
	}

	.col-md-6 {
		width: 50%;
	}

	.col-md-7 {
		width: 58.33333333333333%;
	}

	.col-md-8 {
		width: 66.66666666666667%;
	}

	.col-md-9 {
		width: 75%;
	}

	.col-md-10 {
		width: 83.33333333333333%;
	}

	.col-md-11 {
		width: 91.66666666666667%;
	}

	.col-md-12 {
		width: 100%;
	}
}

@media screen and (min-width: 62em) {
	.col-lg-1 {
		width: 8.333333333333333%;
	}

	.col-lg-2 {
		width: 16.66666666666667%;
	}

	.col-lg-3 {
		width: 25%;
	}

	.col-lg-4 {
		width: 33.33333333333333%;
	}

	.col-lg-5 {
		width: 41.66666666666667%;
	}

	.col-lg-6 {
		width: 50%;
	}

	.col-lg-7 {
		width: 58.33333333333333%;
	}

	.col-lg-8 {
		width: 66.66666666666667%;
	}

	.col-lg-9 {
		width: 75%;
	}

	.col-lg-10 {
		width: 83.33333333333333%;
	}

	.col-lg-11 {
		width: 91.66666666666667%;
	}

	.col-lg-12 {
		width: 100%;
	}
	.flex-lg-row {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	}
}

@media screen and (min-width: 75em) {
	.col-xl-1 {
		width: 8.333333333333333%;
	}

	.col-xl-2 {
		width: 16.66666666666667%;
	}

	.col-xl-3 {
		width: 25%;
	}

	.col-xl-4 {
		width: 33.33333333333333%;
	}

	.col-xl-5 {
		width: 41.66666666666667%;
	}

	.col-xl-6 {
		width: 50%;
	}

	.col-xl-7 {
		width: 58.33333333333333%;
	}

	.col-xl-8 {
		width: 66.66666666666667%;
	}

	.col-xl-9 {
		width: 75%;
	}

	.col-xl-10 {
		width: 83.33333333333333%;
	}

	.col-xl-11 {
		width: 91.66666666666667%;
	}

	.col-xl-12 {
		width: 100%;
	}
}
