@font-face {
  font-family: 'Merriweather-Light';
  src: url('Merriweather-Light.eot');
  src: url('Merriweather-Light.eot?#iefix') format('embedded-opentype'),
       url('Merriweather-Light.svg#Merriweather-Light') format('svg'),
       url('Merriweather-Light.ttf') format('truetype'),
       url('Merriweather-Light.woff') format('woff'),
       url('Merriweather-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

