@font-face {
  font-family: 'Merriweather-BlackItalic';
  src: url('Merriweather-BlackItalic.eot');
  src: url('Merriweather-BlackItalic.eot?#iefix') format('embedded-opentype'),
       url('Merriweather-BlackItalic.svg#Merriweather-BlackItalic') format('svg'),
       url('Merriweather-BlackItalic.ttf') format('truetype'),
       url('Merriweather-BlackItalic.woff') format('woff'),
       url('Merriweather-BlackItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

