@font-face {
  font-family: 'Merriweather-Bold';
  src: url('Merriweather-Bold.eot');
  src: url('Merriweather-Bold.eot?#iefix') format('embedded-opentype'),
       url('Merriweather-Bold.svg#Merriweather-Bold') format('svg'),
       url('Merriweather-Bold.ttf') format('truetype'),
       url('Merriweather-Bold.woff') format('woff'),
       url('Merriweather-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

